@model IEnumerable<PomoToDoro.Models.TaskModel>

@{
    ViewData["Title"] = "Index";
}

<h1 class="display-4">Lista Twoich zadań</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Dodaj nowe zadanie</a>
</p>
<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr class="d-flex justify-content-xxl-between">
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.ActionLink("Gotowe", "Done", new { id = item.TaskId }, new { @class = "btn btn-success" })
                @Html.ActionLink("Usuń zadanie", "Delete", new { id = item.TaskId }, new { @class = "btn btn-danger" })
            </td>
        </tr>
    }
    </tbody>
</table>